* {
	margin: 0;
	padding: 0;
}

body {
	background: url('../images/loginImages/background.png') top left repeat;
}

.feedbackPanel .feedbackPanelINFO {
	background-color: #e1ffe1;
	color: green;
}

.feedbackPanel .feedbackPanelERROR {
	background-color: #f4d7d7;
	color: red;
}

.feedbackPanel .feedbackPanelWARNING {
	background-color: #ffffcc;
	color: yellow;
}

#login_container {
	width: 357px;
	height: 383px;
	margin: 100px auto;
	background: url('../images/loginImages/login_bg.png') top left no-repeat;
}

#form_container {
	width: 300px;
	height: 200px;
	margin: 0px auto;
	padding-top: 80px;
}

.text_input:focus {
	outline: 0;
	
}

.text_input {
	color: #c1c1c3;
	border: 0;
	margin: 5px 35px 0 34px;
	padding: 0px 0px 0px 10px;
	width: 229px;
	height: 32px;
	background: url('../images/loginImages/text_input.png') top left no-repeat;
}
.info_panel{
	margin: 5px 35px 0 40px;
	padding: 0px 0px 0px 10px;
	color : #ff0000
}

#login {
	margin: 20px 108px;
	border: 0;
	width: 83px;
	height: 30px;
	background: url('../images/loginImages/login_btn.png') top left no-repeat;
	cursor:pointer;
}

#login:hover {opacity:0.9;}

#login:active {
	background: url('../images/loginImages/login_btn_hov.png') top left no-repeat;
}

.login-text {
	text-align:center;
	margin:25px;
	color:#515151;
	font-family: 'Lobster', cursive;
}

